<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle storage links
    RewriteRule ^storage/(.*)$ /storage/app/public/$1 [L]

    # Other Laravel directives
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
